function FirstLevel.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push pointer 0
return
function FirstLevel.initialize 3
push argument 0
pop pointer 0
push this 0
call Grid.cells 1
pop local 0
push constant 0
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Cell.deleteBottom 1
pop temp 0
push constant 1
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Cell.deleteBottom 1
pop temp 0
push constant 2
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Cell.deleteRight 1
pop temp 0
push constant 20
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Cell.deleteBottom 1
pop temp 0
push constant 40
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Cell.deleteBottom 1
pop temp 0
push constant 60
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Cell.deleteBottom 1
pop temp 0
push constant 80
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Cell.deleteBottom 1
pop temp 0
push constant 100
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Cell.deleteBottom 1
pop temp 0
push constant 120
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Cell.deleteBottom 1
pop temp 0
push constant 120
pop local 2
label WHILE_EXP0
push local 2
push constant 139
lt
not
if-goto WHILE_END0
push local 2
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Cell.deleteRight 1
pop temp 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 139
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Cell.deleteBottom 1
pop temp 0
push this 0
call Grid.draw 1
pop temp 0
push constant 0
return
