function Level.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push constant 12
push constant 50
call Point.new 2
pop this 3
push constant 24
push this 3
call Grid.new 2
pop this 1
push this 3
push constant 24
push this 1
call Player.new 3
pop this 2
push this 1
call Grid.rows 1
push this 1
call Grid.cols 1
call Math.multiply 2
push constant 1
sub
pop this 4
push argument 0
pop this 0
push argument 1
pop this 5
push pointer 0
return
function Level.dispose 0
push argument 0
pop pointer 0
push this 1
call Grid.dispose 1
pop temp 0
push this 2
call Player.dispose 1
pop temp 0
push this 3
call Point.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Level.initialize 0
push argument 0
pop pointer 0
push this 2
call Player.draw 1
pop temp 0
push pointer 0
call Level.printLevelName 1
pop temp 0
push this 5
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Level.drawMazeFirstPattern 1
pop temp 0
goto IF_END0
label IF_FALSE0
push pointer 0
call Level.drawMazeSecondPattern 1
pop temp 0
label IF_END0
push constant 0
return
function Level.printLevelName 0
push argument 0
pop pointer 0
push constant 2
push constant 15
call Output.moveCursor 2
pop temp 0
push this 0
call Output.printString 1
pop temp 0
push this 0
call String.dispose 1
pop temp 0
push constant 0
return
function Level.drawMazeFirstPattern 4
push argument 0
pop pointer 0
push this 1
call Grid.cells 1
pop local 0
push constant 19
call Array.new 1
pop local 1
push constant 140
push local 0
add
pop pointer 1
push that 0
pop local 2
push local 2
call Cell.removeFill 1
pop temp 0
push constant 130
push local 0
add
pop pointer 1
push that 0
pop local 2
push local 2
call Cell.removeFill 1
pop temp 0
push constant 159
push local 0
add
pop pointer 1
push that 0
pop local 2
push local 2
call Cell.removeFill 1
pop temp 0
push constant 120
pop local 3
label WHILE_EXP0
push local 3
push constant 130
lt
not
if-goto WHILE_END0
push local 3
push local 0
add
pop pointer 1
push that 0
pop local 2
push local 2
call Cell.removeFill 1
pop temp 0
push local 3
push constant 120
sub
push local 1
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 3
push constant 1
add
pop local 3
goto WHILE_EXP0
label WHILE_END0
push constant 110
pop local 3
label WHILE_EXP1
push local 3
push constant 119
lt
not
if-goto WHILE_END1
push local 3
push local 0
add
pop pointer 1
push that 0
pop local 2
push local 2
call Cell.removeFill 1
pop temp 0
push local 3
push constant 100
sub
push local 1
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 3
push constant 1
add
pop local 3
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 19
call Cell.deleteRightMany 2
pop temp 0
push constant 0
push local 0
add
pop pointer 1
push that 0
pop local 2
push local 2
call Cell.removeFill 1
pop temp 0
push local 2
call Cell.deleteBottom 1
pop temp 0
push constant 20
push local 0
add
pop pointer 1
push that 0
pop local 2
push local 2
call Cell.removeFill 1
pop temp 0
push local 2
call Cell.deleteBottom 1
pop temp 0
push constant 40
push local 0
add
pop pointer 1
push that 0
pop local 2
push local 2
call Cell.removeFill 1
pop temp 0
push local 2
call Cell.deleteBottom 1
pop temp 0
push constant 60
push local 0
add
pop pointer 1
push that 0
pop local 2
push local 2
call Cell.removeFill 1
pop temp 0
push local 2
call Cell.deleteBottom 1
pop temp 0
push constant 80
push local 0
add
pop pointer 1
push that 0
pop local 2
push local 2
call Cell.removeFill 1
pop temp 0
push local 2
call Cell.deleteBottom 1
pop temp 0
push constant 100
push local 0
add
pop pointer 1
push that 0
pop local 2
push local 2
call Cell.removeFill 1
pop temp 0
push local 2
call Cell.deleteBottom 1
pop temp 0
push constant 120
push local 0
add
pop pointer 1
push that 0
pop local 2
push local 2
call Cell.removeFill 1
pop temp 0
push local 2
call Cell.deleteBottom 1
pop temp 0
push constant 110
push local 0
add
pop pointer 1
push that 0
pop local 2
push local 2
call Cell.removeFill 1
pop temp 0
push local 2
call Cell.deleteBottom 1
pop temp 0
push constant 119
push local 0
add
pop pointer 1
push that 0
pop local 2
push local 2
call Cell.removeFill 1
pop temp 0
push local 2
call Cell.deleteBottom 1
pop temp 0
push constant 139
push local 0
add
pop pointer 1
push that 0
pop local 2
push local 2
call Cell.removeFill 1
pop temp 0
push local 2
call Cell.deleteBottom 1
pop temp 0
push this 1
call Grid.draw 1
pop temp 0
push constant 0
return
function Level.drawMazeSecondPattern 3
push argument 0
pop pointer 0
push this 1
call Grid.cells 1
pop local 0
push constant 0
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Cell.deleteBottom 1
pop temp 0
push constant 20
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Cell.deleteBottom 1
pop temp 0
push constant 40
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Cell.deleteBottom 1
pop temp 0
push constant 60
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Cell.deleteBottom 1
pop temp 0
push constant 80
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Cell.deleteBottom 1
pop temp 0
push constant 100
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Cell.deleteBottom 1
pop temp 0
push constant 120
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Cell.deleteBottom 1
pop temp 0
push constant 120
pop local 2
label WHILE_EXP0
push local 2
push constant 139
lt
not
if-goto WHILE_END0
push local 2
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Cell.deleteRight 1
pop temp 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 139
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Cell.deleteBottom 1
pop temp 0
push this 1
call Grid.draw 1
pop temp 0
push constant 0
return
function Level.hasEnded 1
push argument 0
pop pointer 0
push this 2
call Player.j 1
push this 1
call Grid.cols 1
call Math.multiply 2
push this 2
call Player.i 1
add
pop local 0
push this 4
push local 0
eq
return
function Level.player 0
push argument 0
pop pointer 0
push this 2
return
function Level.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
push pointer 0
call Level.initialize 1
pop temp 0
label WHILE_EXP0
push local 1
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 2
push local 0
call Player.move 2
pop temp 0
push pointer 0
call Level.hasEnded 1
pop local 1
push constant 200
call Sys.wait 1
pop temp 0
label IF_FALSE0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
call Level.dispose 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 0
return
