function SecondLevel.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push constant 12
push constant 50
call Point.new 2
pop this 2
push constant 24
push this 2
call Grid.new 2
pop this 0
push this 2
push constant 24
push this 0
call Player.new 3
pop this 1
push this 0
call Grid.rows 1
push this 0
call Grid.cols 1
call Math.multiply 2
push constant 1
sub
pop this 3
push pointer 0
return
function SecondLevel.dispose 0
push argument 0
pop pointer 0
push this 0
call Grid.dispose 1
pop temp 0
push this 1
call Player.dispose 1
pop temp 0
push this 2
call Point.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SecondLevel.initialize 0
push argument 0
pop pointer 0
push this 1
call Player.draw 1
pop temp 0
push pointer 0
call SecondLevel.printLevelName 1
pop temp 0
push pointer 0
call SecondLevel.makeGrid 1
pop temp 0
push constant 0
return
function SecondLevel.printLevelName 1
push argument 0
pop pointer 0
push constant 25
call String.new 1
push constant 76
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 120
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 115
call String.appendChar 2
pop local 0
push constant 2
push constant 15
call Output.moveCursor 2
pop temp 0
push local 0
call Output.printString 1
pop temp 0
push local 0
call String.dispose 1
pop temp 0
push constant 0
return
function SecondLevel.makeGrid 3
push argument 0
pop pointer 0
push this 0
call Grid.cells 1
pop local 0
push constant 0
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Cell.deleteBottom 1
pop temp 0
push constant 1
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Cell.deleteBottom 1
pop temp 0
push constant 2
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Cell.deleteRight 1
pop temp 0
push constant 20
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Cell.deleteBottom 1
pop temp 0
push constant 40
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Cell.deleteBottom 1
pop temp 0
push constant 60
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Cell.deleteBottom 1
pop temp 0
push constant 80
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Cell.deleteBottom 1
pop temp 0
push constant 100
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Cell.deleteBottom 1
pop temp 0
push constant 120
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Cell.deleteBottom 1
pop temp 0
push constant 120
pop local 2
label WHILE_EXP0
push local 2
push constant 139
lt
not
if-goto WHILE_END0
push local 2
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Cell.deleteRight 1
pop temp 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 139
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Cell.deleteBottom 1
pop temp 0
push this 0
call Grid.draw 1
pop temp 0
push constant 0
return
function SecondLevel.hasEnded 1
push argument 0
pop pointer 0
push this 1
call Player.j 1
push this 0
call Grid.cols 1
call Math.multiply 2
push this 1
call Player.i 1
add
pop local 0
push this 3
push local 0
eq
return
function SecondLevel.player 0
push argument 0
pop pointer 0
push this 1
return
